<p>Stage: {{model.stageName}}</p>
<SanctuaryDiagram 
  @pews={{this.model.layout.pews}} 
  @saints={{this.model.layout.saints}} 
  @deacons={{this.model.deacons}} 
  @plates={{this.model.plates}} 
  @width={{this.model.width}} 
  @height={{this.model.height}} 
/>
<ControlPanel
  @start={{this.start}}
  @restart={{this.restart}}
  @next={{this.next}}
/>


