<p>Stage: {{model.stageName}}</p>
<SanctuaryDiagram 
  @pews={{this.model.layout.pews}} 
  @saints={{this.model.layout.saints}} 
  @deacons={{model.deacons}} 
  @plates={{model.plates}} 
  @width={{model.width}} 
  @height={{model.height}} />
<div class="control">
  <button {{on "click" this.start}} >Start</button>
  <button {{on "click" this.restart}} >Restart</button>
  <button {{on "click" this.next}} >Next</button>
</div>

